<a href="https://colab.research.google.com/github/MichalMichalowski/data-science-cwiczenia/blob/main/ML_przygotowanie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import sklearn

In [3]:
sklearn.__version__

'0.22.2.post1'

In [15]:
data = {
    'color':['red','green','blue','brown','red','red','blue','brown','green'],
    'size':['S','XL','L','XL','M','XL','XL','S','M'],
    'price':[200.0, 139.0, 345.0, 210.0, 210.0,300.0,250.0,430.0,300.0],
    'weight':[300,200,400,500,350,450,500,340,400],
    'gender':['female','female','male','male','female','female','male','male','female'],
    'bought':['yes','no','no','yes','yes','yes','no','no','no']
}

df_raw = pd.DataFrame(data=data)

In [17]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   color   9 non-null      object
 1   size    9 non-null      object
 2   price   9 non-null      float64
 3   weight  9 non-null      int64
 4   gender  9 non-null      object
 5   bought  9 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 560.0+ bytes

In [18]:
df_copy = df_raw.copy()

In [19]:
for col in ['color','size','gender','bought']:
  df_raw[col] = df_raw[col].astype('category')

df_raw['weight']=df_raw['weight'].astype('float64')

In [20]:
df_raw.describe()

            price      weight
count    9.000000    9.000000
mean   264.888889  382.222222
std     88.353614   97.311071
min    139.000000  200.000000
25%    210.000000  340.000000
50%    250.000000  400.000000
75%    300.000000  450.000000
max    430.000000  500.000000

In [22]:
df_raw.describe(include=['category']).T

       count unique     top freq
color      9      4     red    3
size       9      4      XL    4
gender     9      2  female    5
bought     9      2      no    5

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_raw['bought'])
le.transform(df_raw['bought'])

array([1, 0, 0, 1, 1, 1, 0, 0, 0])

In [26]:
df_raw['bought'] = le.fit_transform(df_raw['bought'])

In [27]:
df_raw

   color size  price  weight  gender  bought
0    red    S  200.0   300.0  female       1
1  green   XL  139.0   200.0  female       0
2   blue    L  345.0   400.0    male       0
3  brown   XL  210.0   500.0    male       1
4    red    M  210.0   350.0  female       1
5    red   XL  300.0   450.0  female       1
6   blue   XL  250.0   500.0    male       0
7  brown    S  430.0   340.0    male       0
8  green    M  300.0   400.0  female       0

In [32]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first',sparse=False)
encoder.fit_transform(df_raw[['size']])

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [33]:
encoder.categories_

[array(['L', 'M', 'S', 'XL'], dtype=object)]

In [36]:
pd.get_dummies(data=df_raw, drop_first=True, prefix='a')

   price  weight  bought  a_brown  a_green  a_red  a_M  a_S  a_XL  a_male
0  200.0   300.0       1        0        0      1    0    1     0       0
1  139.0   200.0       0        0        1      0    0    0     1       0
2  345.0   400.0       0        0        0      0    0    0     0       1
3  210.0   500.0       1        1        0      0    0    0     1       1
4  210.0   350.0       1        0        0      1    1    0     0       0
5  300.0   450.0       1        0        0      1    0    0     1       0
6  250.0   500.0       0        0        0      0    0    0     1       1
7  430.0   340.0       0        1        0      0    0    1     0       1
8  300.0   400.0       0        0        1      0    1    0     0       0

In [42]:
df_raw['price'].std()

88.35361402405174

In [44]:
x = (df_raw['price'] - df_raw['price'].mean()) / df_raw['price'].std()

In [52]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

df_raw[['weight','price']] = ss.fit_transform(df_raw[['weight','price']])

df_raw = pd.get_dummies(data=df_raw,drop_first=True)

In [53]:
df_raw

      price    weight  bought  ...  size_S  size_XL  gender_male
0 -0.778973 -0.896196       1  ...       1        0            0
1 -1.511261 -1.986165       0  ...       0        1            0
2  0.961711  0.193772       0  ...       0        0            1
3 -0.658926  1.283741       1  ...       0        1            1
4 -0.658926 -0.351212       1  ...       0        0            0
5  0.421499  0.738757       1  ...       0        1            0
6 -0.178737  1.283741       0  ...       0        1            1
7  1.982112 -0.460209       0  ...       1        0            1
8  0.421499  0.193772       0  ...       0        0            0

[9 rows x 10 columns]